<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Club management</h1>

    <div class="panel panel-default">
        <div class="panel-heading">Club races</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
                </thead>
                <tr ng-repeat="race in races" ng-click="go(race)">
                    <td>{{race.id}}</td>
                    <td>{{race.name}}</td>
                    <td>{{race.startDate}}</td>
                    <td>{{race.endDate}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Approve waiting members</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
                </thead>

                <tr ng-repeat="user in currentClub.waitingUsers">
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td><button type="button" class="btn" ng-click="approve(user)">Approve</button>
                        <button type="button" class="btn" ng-click="decline(user)">Decline</button></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="list-group">
        <button type="button" class="list-group-item" ng-click="goToRace()">Add a new race</button>
        <button type="button" class="list-group-item" ng-click="goToTraining(currentClub)">Set training sessions</button>
    </div>

</div>