<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>{{club.name}}</h1>

    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">Club informations</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Town:</label>
                    <div class="col-sm-8">
                        {{club.town}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Country:</label>
                    <div class="col-sm-8">
                        {{club.country}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 control-label">URL:</label>
                    <div class="col-sm-8">
                        {{club.url}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Total members:</label>
                    <div class="col-sm-8">
                        {{club.users.length}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="button" ng-click="join()" class="btn btn-default" ng-disabled="userHasJoined" ng-show="!userHasJoined" aria-label="Left Align">Join</button>
                        <button type="button" ng-click="leave()" class="btn btn-default" ng-disabled="!userHasJoined" ng-show="userHasJoined" aria-label="Left Align">Leave</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Members</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last name</th>
                        <th>Town</th>
                        <th>Country</th>
                    </tr>
                </thead>

                <tr ng-repeat="user in club.users">
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.town}}</td>
                    <td>{{user.country}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default" ng-show="isAdmin">
        <div class="panel-heading">Members</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tr ng-repeat="user in club.waitingUsers">
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td><button type="button" class="btn" ng-click="approve(user)">Approve</button>
                        <button type="button" class="btn" ng-click="decline(user)">Decline</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>