<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Club details</h1>
    {{club.id}}
    {{club.name}}
    <button type="button" ng-click="join()" class="btn" ng-disabled="userHasJoined">Join</button>
    <button type="button" ng-click="leave()" class="btn" ng-disabled="!userHasJoined">Leave</button>
    <h2>Current users</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>

        <tr ng-repeat="user in club.users">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
        </tr>
    </table>
    <table class="table table-striped" ng-show="isAdmin">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
        </thead>

        <tr ng-repeat="user in club.waitingUsers">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td><button type="button" class="btn" ng-click="approve(user)">Approve</button></td>
        </tr>
    </table>
</div>