<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Race details</h1>

    <div class="panel panel-default">
        <div class="panel-heading">Race informations</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8">
                        {{race.name}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Start date</label>
                    <div class="col-sm-8">
                        {{race.startDate}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 control-label">End date</label>
                    <div class="col-sm-8">
                        {{race.endDate}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Track</label>
                    <div class="col-sm-8">
                        {{race.track}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Town</label>
                    <div class="col-sm-8">
                        {{race.town}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Country</label>
                    <div class="col-sm-8">
                        {{race.country}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="chassis" class="col-sm-4 control-label">Chassis</label>
                    <div class="col-sm-8">
                        <select id="chassis" ng-disabled="userHasJoined" ng-model="currentCar" class="form-control" ng-options="car.chassis.name for car in cars" ng-change="getSettings()" required>
                            <option value="">---Please select---</option>
                        </select>
                        <span ng-show="noCarSelected" style="color: #a94442">Please select a car</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="setting" class="col-sm-4 control-label">Settings</label>
                    <div class="col-sm-8">
                        <select id="setting" ng-disabled="userHasJoined" ng-model="currentSetting" class="form-control" ng-options="setting.name for setting in settings" required>
                            <option value="">---Please select---</option>
                        </select>
                        <span ng-show="noCarSelected" style="color: #a94442">Please select a car</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Total joined drivers</label>
                    <div class="col-sm-8">
                        {{race.joinedDriver.length}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="button" ng-click="join()" class="btn btn-default" ng-show="!userHasJoined && !race.closed" aria-label="Left Align">Join</button>
                        <button type="button" ng-click="leave()" class="btn btn-default" ng-show="userHasJoined && !race.closed" aria-label="Left Align">Leave</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="button" ng-click="close(race)" class="btn btn-default" ng-show="isOwner && !race.closed" aria-label="Left Align">Close Race</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Current drivers on race</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Town</th>
                    <th>Country</th>
                    <th>Chassis</th>
                    <th ng-show="race.closed">Rank</th>
                    <th ng-show="race.closed">Total Time</th>
                    <th ng-show="race.closed">Best Lap</th>
                </tr>
                </thead>

                <tr ng-repeat="driver in race.joinedDriver | orderBy: 'rank'">
                    <td>{{driver.user.firstName}}</td>
                    <td>{{driver.user.lastName}}</td>
                    <td>{{driver.user.town}}</td>
                    <td>{{driver.user.country}}</td>
                    <td>{{driver.car.chassis.name}}</td>
                    <td ng-show="race.closed">{{driver.rank}}</td>
                    <td ng-show="race.closed">{{driver.totalTime}}</td>
                    <td ng-show="race.closed">{{driver.bestLap}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>