<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h1>{{race.name}}</h1>

    <div class="panel panel-default">
        <div class="panel-heading">Current drivers on race</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Chassis</th>
                    <th>Rank</th>
                    <th>Total time</th>
                    <th>Best Lap</th>
                </tr>
                </thead>

                <tr ng-repeat="driver in race.joinedDriver">
                    <td>{{driver.user.firstName}}</td>
                    <td>{{driver.user.lastName}}</td>
                    <td>{{driver.car.chassis.name}}</td>
                    <td><input type="text" id="rank" ng-model="driver.rank" /></td>
                    <td><input type="text" id="totalTime" ng-model="driver.totalTime" /></td>
                    <td><input type="text" id="bestLap" ng-model="driver.bestLap" /></td>
                </tr>
            </table>
            <button ng-click="close(race)"><i class="fa fa-pencil fa-fw"></i>Save</button>
        </div>
    </div>
</div>